page-about {

    #large-button button {
        background-color: slategray;
        width: 100% !important;
        height: 0 !important;
        padding: 35% 0 40% !important;
        text-align: center;
        vertical-align: middle;

    }

}